<li>
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>", style="padding: 20px; margin-bottom: 20px; border: 2px solid black;">
    <div class="panel-heading">
      <%= link_to conversation.opposed_user(user).email, '', class: 'toggle-window' %>
      <%= link_to "x", close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %>
    </div>

    <div class="panel-body" style="display: none">
      <div class="messages-list", id=<%= "messages-list-#{conversation.id}"%>>
        
        <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        
      </div>
      <%= form_for [conversation, conversation.messages.new], class: "send_message", remote: true do |f| %>
        <%= f.hidden_field :user_id, value: user.id %>
        <%= f.text_field :body, class: "message form-control", autocomplete: 'off' %>
        <label class="btn btn-default btn-file">
          File <%= f.file_field :attachment, style: "display: none;", id: "message_attachment" %>
        </label>
        <%= f.submit "Send", class: "btn btn-success pull-right" %>
      <% end %>
    </div>
  </div>
</li>
