<li>
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>", style="background-color: rgb(189, 189, 189); padding: 20px">
    <div class="panel-heading">
      <%= link_to conversation.opposed_user(user).email, '', class: 'toggle-window' %>
      <%= link_to "x", close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %>
    </div>

    <div class="panel-body" style="">
      <div class="messages-list", id=<%= "messages-list-#{conversation.id}"%>>
        
        <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        
      </div>
      <%= form_for [conversation, conversation.messages.new], class: "send_message", remote: true do |f| %>
        <%= f.hidden_field :user_id, value: user.id %>
        <%= f.text_area :body, class: "message" %>
        <%= f.hidden_field :attachment_ids, value: [1] %>
        <%= f.submit "Send", class: "btn btn-success" %>
      <% end %>
      <%
=begin%>
 <%= form_for []conversation, class: "image-form", remote: true do |f| %>
        <%= f.file_field :attachment %>
        <%= f.submit "Send", class: "btn btn-success" %>
      <% end %> 
<%
=end%>
    </div>
  </div>
</li>
